<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Tom-Luca Westendorf, Lennart Brandin, Stefan Schwenke">
    <meta name="keywords" content="HTML, CSS, JavaScript, Python">
    <meta name="description" content="Daten einer Wetterstation anzeigen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/button.css') }}">
    <title>Wetterstation</title>
</head>
<body>
    <div class="weather-screen">
        <div class="sunny">
            <div class="sun"></div>
            <div class="cloud1"></div>
            <div class="sun-light-gras"><img src="/static/Wetterdesign/SunGrasHell.svg" alt="Light-Gras"></div>
            <div class="sun-dark-gras"><img src="/static/Wetterdesign/SunGrasDunkel.svg " alt="Dark-Gras"></div>
            <div class="temperature">
                <button class="menu-button" onclick="makeAnimation()"><img src="/static/Wetterdesign/Group 1.svg" alt=""></button>
                <div class="menu-pulldown">
                    <button class="C" onclick="onClickCelsius()">Celsius</button>
                    <button class="F" onclick="onClickFahrenheit()">Fahrenheit</button>
                    <button class="K" onclick="onClickKelvin()">Kelvin</button>
                    <button class="feeling" onclick="getFeelingTemp()">Gefühlt</button>
                </div>
                <p id="sunny">Sonnig</p>
                <p class="temp"></p>
            </div>        
        </div>
        <div class="cloudy">
            <div class="cloud1"></div>
            <div class="cloud2"></div>
            <div class="cloud3"></div>
            <div class="cloud-light-gras"><img src="static/Wetterdesign/BewGrasHell.svg" alt="Light-Gras"></div>
            <div class="cloud-dark-gras"><img src="static/Wetterdesign/BewGrasDunkel.svg" alt="Dark-Gras"></div>
            <div class="temperature">
                <button class="menu-button"><img src="/static/Wetterdesign/Polygon 1.svg" alt=""></button>
                <div class="menu-pulldown">
                    <button class="C" onclick="onClickCelsius()">Celsius</button>
                    <button class="F" onclick="onClickFahrenheit()">Fahrenheit</button>
                    <button class="K" onclick="onClickKelvin()">Kelvin</button>
                    <button class="feeling" onclick="getFeelingTemp()">Gefühlt</button>
                </div>
                <p id="cloudy">Bewölkt</p>
                <p class="temp"></p>
            </div>
        </div>
        <div class="rainy">
            <div class="raindropWrapper"></div>
            <div class="rain-light-gras"><img src="static/Wetterdesign/RainLightGras.svg" alt="Light-Gras"></div>
            <div class="rain-dark-gras"><img src="static/Wetterdesign/RainDarkGras.svg" alt="Dark-Gras"></div>
            <div class="temperature">
                <button class="menu-button"><img src="/static/Wetterdesign/Polygon 1.svg" alt=""></button>
                <div class="menu-pulldown">
                    <button class="C" onclick="onClickCelsius()">Celsius</button>
                    <button class="F" onclick="onClickFahrenheit()">Fahrenheit</button>
                    <button class="K" onclick="onClickKelvin()">Kelvin</button>
                    <button class="feeling" onclick="getFeelingTemp()">Gefühlt</button>
                </div>
                <p id="rainy">Regen</p>
                <p class="temp"></p>
            </div>
        </div>
    </div>

    <div class="weather-data">
        <div class="warning-sings"></div>
        <div class="button-wrapper" id="button-wrapper">
            <button class="data-button" >
                <div id="data-button-T">
                    <p>T</p>
                </div>
            </button>
            <button class="data-button" >
                <div id="data-button-UV">
                    <p>UV</p> 
                </div>
            </button>
            <button class="data-button">
                <div id="data-button-LF">
                    <p>LF</p>
                </div>
            </button>
            <button class="data-button">
                <div id="data-button-LD">
                    <p>LD</p>
                </div>
            </button>
            <button class="data-button">
                <div id="data-button-WS">
                    <p>WS</p>
                </div>
            </button>
            <button class="data-button">
                <div id="data-button-L">
                    <p>L</p>
                </div>
            </button>
        </div>
    </div>
    <script src="{{ url_for('static',filename='main.js') }}"></script>
</body>
</html>