@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@350&display=swap');

body{
    margin: 0;
}
.weather-screen{
    position: relative;
    margin-bottom: 15em;
}
.sunny{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00AEF9;
    height: 46vw;
}
.sun{
    position: absolute;
    border-radius: 100%;
    width: 18vw;
    height: 18vw;
    top: -3em;
    left: -3em;
    background-color: #F3F300;
    box-shadow: 0 0 5em 3em #F3F300;
}
.sunny .cloud1{
    position: absolute;
    top: 7vw;
    right: 16vw;
    width: 23vw;
    border-radius: 50%;
    box-shadow: 2em 2em 10em 6em lightgray;
}
.sun-dark-gras{
    position: absolute;
    top: 49em;
    right: 0vw;
    width: 80vw;
}
.sun-light-gras{
    position: absolute;
    top: 45em;
    left: 0;
    width: 55vw;
}
.temperature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    height: 10vw;
}
.temperature #sunny{
    font-family: Cabin;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.2em 0;
}
.temperature .temp{
    font-family: Cabin;
    font-size: 2.5rem;
    margin: 0.2em 0;
}
.cloudy{
    overflow-x: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #9CACB4;
    height: 46vw;
}
.cloudy .cloud1{
    position: absolute;
    top: 5em;
    right: 16em;
    width: 23vw;
}
.cloudy .cloud2{
    position: absolute;
    top: 3em;
    left: 27em;
    width: 23vw;
}
.cloudy .cloud3{
    position: absolute;
    top: 18em;
    left: 8em;
    width: 23vw;
}
.cloud-dark-gras{
    position: absolute;
    top: 42em;
    right: 0;
    width: 80vw;
}
.cloud-light-gras{
    position: absolute;
    top: 40em;
    left: 0;
    width: 55vw;
}
.temperature #cloudy{
    font-family: Cabin;
    font-size: 2rem;
    margin: 0.2em 0;
}
.rainy{
    overflow-x: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #004788;
    height: 46vw;
    width: 100%;
}
.raindrop{
    position: absolute;
    width: 1em;
}
.rain-dark-gras{
    position: absolute;
    top: 42em;
    right: 0;
    width: 80vw;
}
.rain-light-gras{
    position: absolute;
    top: 40em;
    left: 0;
    width: 55vw;
}
.temperature{
    position: relative;
    border-radius: 10px;
    height: 10vw;
    width: 15vw;
    z-index: 1;
}
.temperature #rainy{
    font-family: Cabin;
    font-size: 2rem;
    margin: 0.2em 0;
}
.menu-button{
    background-color: unset;
    position: absolute;
    top: 1em;
    right: 0.5em;
    border: none;
}
.menu-pulldown{
    display: none;
    position: absolute;
    right: -7.5em;
}
.menu-pulldown-activated{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
}
.menu-pulldown button{
    border: none;
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em 2em;
    background-color: white;
}
.menu-pulldown button:hover{
    background-color: lightgrey;
}
.weather-data{
    margin-top: 30em;
    display: flex;
    justify-content: center;
}
.warning-signs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.data-button {
    border: none;
    background: none;
    width: 7em;
    height: 7em;
    border-radius: 100%;
    background-color: rgb(131, 131, 255);
}
.data-button:hover {
    width: 7.5em;
    height: 7.5em;
    box-shadow: 0.5em 1em 1.2em 0em rgb(188, 188, 188);
}
.data-button div{
    display: flex;
    justify-content: center;
}
.data-button p {
    font-size: 1.3rem;
}
.data-sheet-wrapper {
    display: none;
}
.data-sheet-wrapper table {
    width: 80%;
}
.data-sheet-activated {
    display: flex!important;
    margin-top: 5em;
    width: 90%;
    border: black;
}
